<template>
  <div class="gantt-table">
    <h3>Custom Gantt Chart</h3>
    <div class="time-controls">
      <button @click="incrementDay">Previous day</button>
      <button @click="decrementDay">Next day</button>
    </div>
    <div class="legend">
      <div class="item">
        <div class="marker"/>
        <span>Service Window</span>
      </div>
      <div class="item emplacement">
        <div class="marker"/>
        <span>Emplacement</span>
      </div>
    </div>
    <div class="chart">
      <div class="header row">
        <div/>
        <div v-for="item in timeLine" :key="item">
          <span v-text="formatTime(item)"/>
        </div>
      </div>
      <div class="content row" v-for="item in schedule" :key="item.id">
        <span>{{ item.materialNumber }}</span>
        <div class="grid-row">
          <template v-for="grid in 24">
            <span
              :key="grid"
              class="grid-cell"
              :style="{
              gridColumnStart: grid,
              gridColumnEnd: grid + 1,
              gridRow: '1/2',
              zIndex: 0
            }"
            />
          </template>
        </div>
        <span
          v-if="getServiceHourInterval(item.serviceWindow.serviceWindowStart) > 0
              || getServiceHourInterval(item.serviceWindow.serviceWindowEnd) > 0"
          class="bar-item"
          :style="{
          marginLeft: getServiceMinutesInterval(item.serviceWindow.serviceWindowStart),
          marginRight: getServiceMinutesInterval(item.serviceWindow.serviceWindowEnd),
          gridColumnStart: getServiceHourInterval(item.serviceWindow.serviceWindowStart) + 1,
          gridColumnEnd: getServiceHourInterval(item.serviceWindow.serviceWindowEnd) + 2
        }"
        >
          {{
            formatHours(item.serviceWindow.serviceWindowStart)
            + ' - ' +
            formatHours(item.serviceWindow.serviceWindowEnd)
          }}
        </span>
        <template v-for="emplacement in item.serviceWindow.emplacement">
          <span
            v-if="getServiceHourInterval(emplacement.emplacementStart) > 0
                || getServiceHourInterval(emplacement.emplacementEnd) > 0"
            class="bar-item emplacement"
            :key="emplacement.id"
            :style="{
            marginLeft: getServiceMinutesInterval(emplacement.emplacementStart),
            marginRight: getServiceMinutesInterval(emplacement.emplacementEnd),
            gridColumnStart: getServiceHourInterval(emplacement.emplacementStart) + 1,
            gridColumnEnd: getServiceHourInterval(emplacement.emplacementEnd) + 2
          }"
          >
            {{
              formatHours(emplacement.emplacementStart)
              + ' - ' +
              formatHours(emplacement.emplacementEnd)
            }}
          </span>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import trainSchedule from '@/static/trainSchedule';
import { Component, Vue } from 'vue-property-decorator';
import {
  addDaysQuantity,
  differenceBetweenDates,
  formatDateTime,
  formatTime,
  subtractDaysQuantity,
} from '@/helpers/dateUtils';

@Component
export default class HelloWorld extends Vue {
  // currentHour: Date = new Date(Date.now());
  currentHour: Date = new Date('2020-09-01T07:00:00.000Z');

  get schedule() {
    return trainSchedule;
  }

  get timeLine(): ArrayLike<number> {
    this.currentHour.setMinutes(0, 0, 0);

    return Array(23).fill(undefined).reduce((acc, _, index) => {
      acc.push(this.currentHour.getTime() + ((index + 1) * 60 * 60 * 1000));
      return acc;
    }, [this.currentHour.getTime()]);
  }

  formatTime(date: number|Date): string {
    const numberDate = new Date(date).getTime();

    return formatDateTime(numberDate);
  }

  formatHours(date: Date): string {
    const numberDate = new Date(date).getTime();

    return formatTime(numberDate);
  }

  getServiceHourInterval(date: number|Date) {
    return Math.ceil(
      differenceBetweenDates(new Date(date).getTime(), this.currentHour) / 60,
    );
  }

  getServiceMinutesInterval(time: number|Date) {
    const minutes = (differenceBetweenDates(new Date(time).getTime(), this.currentHour) / 60);
    const minInPercentage = minutes - Math.floor(minutes);

    return `${75 * minInPercentage}px`;
  }

  incrementDay() {
    this.currentHour = addDaysQuantity(this.currentHour, 1);
  }

  decrementDay() {
    this.currentHour = subtractDaysQuantity(this.currentHour, 1);
  }
}
</script>

<style scoped lang="scss">
  .gantt-table {
    max-width: 1200px;
    min-width: 650px;
    margin: 0 auto;
    padding: 50px;

    h3 { text-align: center; }

    .time-controls {
      display: inline-grid;
      grid-template: 1fr / 1fr 1fr;
      grid-column-gap: 15px;

      button {
        background-color: #2c4aa4;
        border: 0;
        font-size: 16px;
        margin-bottom: 15px;
        color: #fff;
        padding: 7px 15px;
        font-weight: 600;
        border-radius: 3px;
        will-change: background;
        transition: background-color .1s;
        cursor: pointer;

        &:hover {
          background-color: lighten(#2c4aa4, 10%);
        }

        &:active {
          background-color: darken(#2c4aa4, 10%);
        }

      }
    }

    .legend {
      display: inline-grid;
      grid-template: 1fr / 1fr 1fr;
      grid-column-gap: 15px;
      align-content: center;
      margin-left: 30px;

      .item {
        display: grid;
        grid-template: 1fr / 7px 1fr;
        grid-column-gap: 10px;
        align-items: center;
        font-weight: 600;

        .marker {
          height: 7px;
          width: 7px;
          border-radius: 4px;
        }

        &.emplacement .marker {
          background-color: #2c4aa4;
          box-shadow: 0 0 7px #2c4aa4;
        }

        &:not(.emplacement) .marker {
          background-color: tomato;
          box-shadow: 0 0 7px tomato;
        }
      }
    }

    .chart {
      display: grid;
      border: 2px solid #000;
      position: relative;
      overflow: auto;
      max-height: 50vh;

      .row {
        display: grid;
        grid-template: 60px / 200px repeat(24, 75px);
        align-content: center;

        > * {
          display: flex;
          align-items: center;
          padding: 10px;
          border-width: 0 1px 1px 0;
          border-color: #c3c3c3;
          border-style: solid;
        }

        &.header {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: #fff;
          font-weight: 600;
          font-size: 12px;
          box-shadow: 0 -1px 7px #c3c3c3;
          grid-template-rows: 40px;

          > * { text-align: center; }
        }

        &.content {
          position: relative;
          background-color: #fff;
          will-change: background-color;
          transition: background-color .05s;

          &:hover {
            background-color: #f3f3f3;
          }

          > *:first-child {
            position: sticky;
            left: 0;
            z-index: 3;
            background-color: inherit;
            font-weight: 600;
            box-shadow: -1px 0 7px #c3c3c3;
          }

          .grid-row {
            display: grid;
            grid-template: 60px / repeat(24, 75px);
            grid-area: 1/2/2/26;
            align-items: unset;
            padding: 0;

            .grid-cell {
              border-width: 0 1px 1px 0;
              border-color: #e5e5e5;
              border-style: solid;
            }
          }

          .bar-item {
            z-index: 1;
            background-color: tomato;
            box-shadow: 0 0 7px tomato;
            background-clip: content-box;
            height: 20px;
            padding: 0;
            border: 0;
            margin-top: 7px;
            border-radius: 10px;
            text-indent: 10px;
            font-size: 11px;
            font-weight: 600;
            color: #fff;
            grid-row: 1/2;
            align-self: start;

            &.emplacement {
              align-self: end;
              margin-bottom: 7px;
              background-color: #2c4aa4;
              box-shadow: 0 0 7px #2c4aa4;
            }
          }
        }
      }
    }
  }
</style>
